apiVersion: apps/v1
kind: Deployment
metadata:
  name: application-service-deployment
  labels:
    app: application
spec:
  replicas: 1
  selector:
    matchLabels:
      app: application
  template:
    metadata:
      labels:
        app: application
    spec:
      containers:
      - name: application
        image: asia-south1-docker.pkg.dev/hackthon/hackthon-registery/application-service:latest
        ports:
        - containerPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: application-service
spec:
  type: ClusterIP
  selector:
    app: application
  ports:
  - port: 80
    targetport: 3001
    protocol: tcp
